
.wrap{
  background: #3498db;
  background-repeat: no-repeat;
  background-position: cover;
  height:900px;

}

/* HEX GRID */
.board{
  margin:50px;
  max-width: 600px;
  height: 600px;
  padding:0px;
  margin-top:150px;

  float:right;
}
.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}

.hex-left{
  float: left;
  border-right: 30px solid #6C6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hex-middle{
  float: left;
  width: 60px;
  height: 104px;
  background-color: #6C6;
}

.hex-right{
  float: left;
  border-left: 30px solid #6C6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
.h{
  opacity: 0;
}

.space{
  -webkit-transition: .5s ease-in-out;
}

.controlPanel{
  margin:50px 50px 20px 50px;
  width: 100%;
  font-size: 2vw;
  color:white;
}

.space:hover{
  color:white;
}
.p1building::after{
  content:'';
  background: url('../img/office_building.png');
  background-size: cover;
  margin-left: 30px;
  margin-bottom: 50px;
  position: absolute;
  height:50px;
  width: 50px;
}


.p2building::after{
  content:'';
  background: url('../img/coffee_shop.png');
  background-size: cover;
  position: absolute;
  height:50px;
  width: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.welcome{
  -webkit-transition:1s ease-in-out;
  height: 500px;
  width:100%;
  margin-top: 2%;
  color:white;
  font-size: 2vw;

}

.hidden{
  visibility: hidden;
}

.randomResource::after{
  content: '';
  background:url('../img/moneybag.png');
  background-size:cover;
  position:absolute;
  height: 30px;
  width: 30px;
  z-index: 1;
}
